<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
    
    <a class="sn-link" href ng-click="showNewModal()" ng-if="!item.href">
      <i class="socicon {{ item.icon }}"></i>
      <span>++{{ item.name }}</span>
    </a>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="vesselId">vesselId</th>
      <th st-sort="vesselName">vesselName</th>
      <th st-sort="_rev">_rev</th>
      <th st-sort="sender">sender</th>
      <th st-sort="unit">unit</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="vesselId" placeholder="Search First Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="vesselName" placeholder="Search Last Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="_rev" placeholder="Search Username" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="sender" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="unit" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.vesselId}}</td>
      <td>{{item.vesselName}}</td>
      <td>{{item._rev}}</td>
      <td>{{item.sender}}</td>
      <td>{{item.unit}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
